.top {
  margin-top: 50px;
}

.flow {
  padding: 20px;
  background-color: #ffffffa3;
  margin-bottom: 20px;
}

.flow-img {
  padding: 20px;
}

.storength-main {
  text-align: center;
}
.storength-main h3 {
  margin-top: 100px;
}
.storength-main p {
  margin-top: 20px;
}

.storength-main-2 {
  text-align: center;
}
.storength-main-2 h3 {
  margin-top: 60px;
}
.storength-main-2 p {
  margin-top: 20px;
}

.main {
  margin-left: 50px;
}

.flow li {
  margin-top: 15px;
}

.flow strong {
  font-size: 30px;
  margin-right: 10px;
}

.sma{
  display: none;
}

.q-and-a {
  padding: 20px;
}

.q-and-a h1{
  margin-bottom: 30px;
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-header p {
  font-size: 20px;
}

@media screen and ( max-width:479px ){
  .top {
    margin-top: 30px;
  }

  .main {
    margin-left: 0px;
  }

  .flow {
    padding: 20px;
    font-size: 13px;
  }

  .flow strong {
    font-size: 20px;
    margin-right: 0px;
  }

  .flow-img {
    padding: 0px;
  }
  
  .storength-main {
    text-align: center;
  }
  .storength-main h3 {
    margin-top: 10px;
  }
  .storength-main p {
    margin-top: 20px;
  }
  
  .storength-main-2 {
    text-align: center;
  }
  .storength-main-2 h3 {
    margin-top: 50px;
  }
  .storength-main-2 p {
    margin-top: 20px;
  }

  .sma{
    display: block;
  }

  .flow ul {
    padding: 0;
  }

  .img {
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
  }

  .q-and-a {
    padding: 0px;
  }

  .q-and-a h1{
    margin-bottom: 16px;
  }

  .accordion-header p {
    font-size: 13px;
  }
}
