.top {
  margin-top: 30px;
  margin-bottom: 30px;
}

.top-2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.plan-color{
  background-color: #ffffffa3;
  padding: 20px;
}

.plan-name {
  margin-top: 80px;
}

.plan-name-wedding {
  margin-top: 300px;
}

.plan-name-standard {
  margin-top: 300px;
}

.img {
  text-align: center;
  margin-top: 80px;
}

.strength {
  margin-top: 50px;
  padding: 20px;
  background-color: #ffffffa3;
}

.strength-img {
  padding: 20px;
  margin-top: 50px;
}
.storength-main {
  text-align: center;
}
.storength-main h3 {
  margin-top: 100px;
}
.storength-main p {
  margin-top: 20px;
}

.storength-main-2 {
  text-align: center;
}
.storength-detail-2 {
  margin-top: 80px;
}
.storength-main-2 p {
  margin-top: 20px;
}

.storength-detail-3 {
  margin-top: 150px;
}

.img img {
  width: 90%;
}

.attetion {
  background-color: #ffffffa3;
  padding: 30px;
  margin-top: 50px;
}

.attetion li {
  margin-bottom: 15px;
}

.main {
  margin-left: 100px;
}

@media screen and ( max-width:479px ){
  .strength {
    margin-top: 0;
  }

  .storength-detail-2 {
    margin-top: 50px;
  }
  
  .storength-main h3 {
    margin-top: 0;
  }

  .storength-detail-3 {
    margin-top: 50px;
  }

  .strength-img {
    margin-top: 0;
  }

  .img {
    margin-top: 10px;
  }

  .img img {
    width:100%;
  }

  .plan-name {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .plan-name-wedding {
    margin-top: 20px;
  }

  .plan-name-standard {
    margin-top: 20px;
  }

  .main {
    margin-left: 0px;
  }

  .section {
    margin-top: 20px;
  }
}
